<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SME_DATAEntities" connectionString="metadata=res://*/Entityframework.SMDataAnalysis.csdl|res://*/Entityframework.SMDataAnalysis.ssdl|res://*/Entityframework.SMDataAnalysis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SME_DATA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SME_DATA_Entities" connectionString="metadata=res://*/SME_Entity.csdl|res://*/SME_Entity.ssdl|res://*/SME_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SME_DATA;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SME_Daily_Entities" connectionString="metadata=res://*/Entityframework.SME_DailyPrice.csdl|res://*/Entityframework.SME_DailyPrice.ssdl|res://*/Entityframework.SME_DailyPrice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SME_DATA;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SME_DATAEntities1" connectionString="metadata=res://*/Entityframework.SME_DaliyData.csdl|res://*/Entityframework.SME_DaliyData.ssdl|res://*/Entityframework.SME_DaliyData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SME_DATA;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>